.Prinsipal{
	background-color: #529ABB;
	text-align: center;
	color: white;
}
.about{
	text-align: center;
}
.about2{
	text-align: center;
}
.gris{
	background-color: #F8F8F8;
	text-align: center;
	color: black;
}
